---
interface Props {
  src: string;
  alt: string;
}
const { src, alt } = Astro.props;
---
<div class="relative mx-auto w-[220px] sm:w-[260px]">
  <div class="rounded-[2.5rem] border-4 border-gray-700 shadow-2xl overflow-hidden bg-black">
    <div class="flex justify-center pt-2 pb-1 bg-black">
      <div class="w-20 h-4 bg-black rounded-full border border-gray-700"></div>
    </div>
    <img src={src} alt={alt} class="w-full block" loading="eager" />
  </div>
</div>
